/****
common
****/

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box
}


/****
logo
****/

h1 {
    display: inline-block;
    font-weight: bold;
    vertical-align: middle;
}

#logo {
    vertical-align: middle;
}

header {
    padding-top: 20px;
    padding-bottom: 20px;
}

/****
intestazione
****/

.container {
    width: 80%;
    margin: auto;
}

.first-button {
    padding: 10px 15px;
    border-radius: 10px;
    background-color: #14aaf5;
    color:#fff;
}

.second-button {
    padding: 10px 15px;
    border-radius: 10px;
    background-color: #fff;
    color: grey;
    border: 1px solid black;

}